footer{
    font-family: "Tibetan Machine Uni";
    font-size: xx-small;
    text-align: center;
}

header{
    font-family: "Tibetan Machine Uni";
    font-size: large;
    text-align: left;
    text-decoration-color: blue;
}