body{
    background-color: antiquewhite;
}
.footer{
    font-family: "Tibetan Machine Uni";
    font-size: xx-small;
    text-align: center;
    font-weight: bold;
}

.header{
    font-family: "Tibetan Machine Uni";
    font-size: large;
    text-align: left;
    text-decoration-color: blue;
}